/* 全体設定 */
body {
    background-color: #f5f5f5;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 400;
	font-style: normal;
    width: 84%;
    margin: auto;
    padding: 0;
    color: #333;
}

/* ヘッダー、タイトル */
h1, h2, h3 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* 全体のリンク設定 */
a {
    text-decoration: none;
    color: #fa9638;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

/* ボタンスタイル */
button {
    background-color: #fa9638;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc7a2e;
}

/* フォーム */
form {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

/* テーブル設定 */
table {
    width: 86%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

th {
    background-color: #fa9638;
    color: #ffffff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* エラーメッセージ */
.error {
    color: #dc3545;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

/* 成功メッセージ */
.success {
    color: #28a745;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

/* ページ全体の統一感 */
.container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

/* 期間選択フォーム */
.date-range-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* 各要素間のスペース */
    margin: 10px auto; /* フォーム全体の余白 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 82%; /* フォーム全体の幅を制限 */
}

.date-range-form label {
    font-size: 12px;
    color: #333;
    margin: 0;
}

.date-range-form input[type="date"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.date-range-form button {
    background-color: #fa9638;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.date-range-form button:hover {
    background-color: #cc7a2e;
}

